                                    <ul>
                                        <li>
                                            <%= link_to "Team", :frontend_team %>
                                        </li>
                                        <li>
                                            <%= link_to "Support", :frontend_support %>
                                        </li>
                                        <li>
                                            <%= link_to "Search", :frontend_search %>
                                        </li>
                                        <li>
                                            <%= link_to "About", :frontend_about %>
                                        </li>
                                        <% if !user_signed_in? %>
                                        <li>
                                            <%= link_to "Log In", :frontend_log_in %>
                                        </li>
                                        <li>
                                            <%= link_to "Sign Up", :frontend_sign_up %>
                                        </li>
                                        <% else %>
                                            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
                                        <% end %>
                                    </ul>