            <nav id="sidebar">
                <!-- Sidebar Scroll Container -->
                <div id="sidebar-scroll">
                    <!-- Sidebar Content -->
                    <!-- Adding .sidebar-mini-hide to an element will hide it when the sidebar is in mini mode -->
                    <div class="sidebar-content">
                        <!-- Side Header -->
                        <div class="side-header side-content bg-white-op">
                            <!-- Layout API, functionality initialized in App() -> uiLayoutApi() -->
                            <button class="btn btn-link text-gray pull-right hidden-md hidden-lg" type="button" data-toggle="layout" data-action="sidebar_close">
                                <i class="fa fa-times"></i>
                            </button>
                            <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                            <%= render 'layouts/backend/themes' %>
                            <%= link_to t('logo').html_safe, :root, class: 'h5 text-white' %>
                        </div>
                        <!-- END Side Header -->

                        <!-- Side Content -->
                        <div class="side-content">
                            <ul class="nav-main">
                                <li>
                                    <%= link_to '<i class="si si-speedometer"></i><span class="sidebar-mini-hide">Dashboard</span>'.html_safe, :backend_index, class: active_link?(backend_index_path) %>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">User Interface</span></li>
                                <li class="<%= link_open?("ui") %>">
                                    <%= link_to '<i class="si si-badge"></i><span class="sidebar-mini-hide">UI Elements</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("ui") %>
                                    <ul>
                                        <li>
                                            <%= link_to "Widgets", :backend_ui_widgets, class: active_link?(backend_ui_widgets_path) %>
                                        </li>
                                        <li class="<%= link_open?("blocks") %>">
                                            <%= link_to 'Blocks'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("blocks") %>
                                            <ul>
                                                <li>
                                                    <%= link_to "Styles", :backend_ui_blocks, class: active_link?(backend_ui_blocks_path)  %>
                                                </li>
                                                <li>
                                                    <%= link_to "Blocks API", :backend_ui_blocks_api, class: active_link?(backend_ui_blocks_api_path)  %>
                                                </li>
                                                <li>
                                                    <%= link_to "Draggable", :backend_ui_blocks_draggable, class: active_link?(backend_ui_blocks_draggable_path)  %>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <%= link_to "Grid", :backend_ui_grid, class: active_link?(backend_ui_grid_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Typography", :backend_ui_typography, class: active_link?(backend_ui_typography_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Icons", :backend_ui_icons, class: active_link?(backend_ui_icons_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Buttons", :backend_ui_buttons, class: active_link?(backend_ui_buttons_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Activity", :backend_ui_activity, class: active_link?(backend_ui_activity_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Tabs", :backend_ui_tabs, class: active_link?(backend_ui_tabs_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Tiles", :backend_ui_tiles, class: active_link?(backend_ui_tiles_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Timeline", :backend_ui_timeline, class: active_link?(backend_ui_timeline_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Navigation", :backend_ui_navigation, class: active_link?(backend_ui_navigation_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Modals & Tooltips", :backend_ui_modals_tooltips, class: active_link?(backend_ui_modals_tooltips_path)  %>
                                        </li>
                                        <li>
                                            <%= link_to "Color Themes", :backend_ui_color_themes, class: active_link?(backend_ui_color_themes_path) %>
                                        </li>
                                    </ul>
                                </li>
                                <li class="<%= link_open?("tables") %>">
                                    <%= link_to '<i class="si si-grid"></i><span class="sidebar-mini-hide">Tables</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("tables") %>
                                    <ul>
                                        <li>
                                            <%= link_to "Styles", :backend_tables_styles, class: active_link?(backend_tables_styles_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Responsive", :backend_tables_responsive, class: active_link?(backend_tables_responsive_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Tools", :backend_tables_tools, class: active_link?(backend_tables_tools_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Pricing", :backend_tables_pricing, class: active_link?(backend_tables_pricing_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "DataTables", :backend_tables_datatables, class: active_link?(backend_tables_datatables_path) %>
                                        </li>
                                    </ul>
                                </li>
                                <li class="<%= link_open?("forms") %>">
                                  <%= link_to '<i class="si si-note"></i><span class="sidebar-mini-hide">Forms</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("forms") %>
                                    <ul>
                                        <li>
                                            <%= link_to "Pre-made", :backend_forms_premade, class: active_link?(backend_forms_premade_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Elements", :backend_forms_elements, class: active_link?(backend_forms_elements_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Pickers &amp; More".html_safe, :backend_forms_pickers_more, class: active_link?(backend_forms_pickers_more_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Text Editors", :backend_forms_editors, class: active_link?(backend_forms_editors_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Validation", :backend_forms_validation, class: active_link?(backend_forms_validation_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Wizard", :backend_forms_wizard, class: active_link?(backend_forms_wizard_path) %>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Develop</span></li>
                                <li class="<%= link_open?("components") %>">
                                  <%= link_to '<i class="si si-wrench"></i><span class="sidebar-mini-hide">Components</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("components") %>
                                    <ul>
                                        <li>
                                          <%= link_to "Images", :backend_components_images, class: active_link?(backend_components_images_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Charts", :backend_components_charts, class: active_link?(backend_components_charts_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Calendar", :backend_components_calendar, class: active_link?(backend_components_calendar_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Sliders", :backend_components_sliders, class: active_link?(backend_components_sliders_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Animations", :backend_components_animations, class: active_link?(backend_components_animations_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Scrolling", :backend_components_scrolling, class: active_link?(backend_components_scrolling_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Syntax Highlighting", :backend_components_syntax_highlighting, class: active_link?(backend_components_syntax_highlighting_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Rating", :backend_components_rating, class: active_link?(backend_components_rating_path) %>
                                        </li>
                                        <li>
                                          <%= link_to "Tree View", :backend_components_treeview, class: active_link?(backend_components_treeview_path) %>
                                        </li>
                                        <li class="<%= link_open?("maps") %>">
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Maps</a>
                                            <ul>
                                                <li>
                                                  <%= link_to "Google", :backend_components_maps_google, class: active_link?(backend_components_maps_google_path) %>
                                                </li>
                                                <li>
                                                  <%= link_to "Vector", :backend_components_maps_vector, class: active_link?(backend_components_maps_vector_path) %>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="<%= link_open?("gallery") %>">
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Gallery</a>
                                            <ul>
                                                <li>
                                                   <%= link_to "Simple", :backend_components_gallery_simple, class: active_link?(backend_components_gallery_simple_path) %>
                                                </li>
                                                <li>
                                                   <%= link_to "Advanced", :backend_components_gallery_advanced, class: active_link?(backend_components_gallery_advanced_path) %>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="<%= link_open?("layouts") %>">
                                  <%= link_to '<i class="si si-magic-wand"></i><span class="sidebar-mini-hide">Layouts</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("layouts") %>
                                    <ul>
                                        <li>
                                            <%= link_to "Layout API", :backend_layouts_api, class: active_link?(backend_layouts_api_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Default", :backend_layouts_default, class: active_link?(backend_layouts_default_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Default Flipped", backend_layouts_default_flipped_path(:layout => 'flipped'), class: active_link?(backend_layouts_default_flipped_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Static Header", backend_layouts_header_static_path(:layout => 'header_static'), class: active_link?(backend_layouts_header_static_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Mini Sidebar (Hoverable)", backend_layouts_sidebar_mini_hoverable_path(:layout => 'sidebar_mini_hoverable'), class: active_link?(backend_layouts_sidebar_mini_hoverable_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Side Overlay (Hoverable)", backend_layouts_side_overlay_hoverable_path(:layout => 'side_overlay_overable'), class: active_link?(backend_layouts_side_overlay_hoverable_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Side Overlay (Open)", backend_layouts_side_overlay_open_path(:layout => 'side_overlay_open'), class: active_link?(backend_layouts_side_overlay_open_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Side Native Scrolling", backend_layouts_side_native_scrolling_path(:layout => 'side_native_scrolling'), class: active_link?(backend_layouts_side_native_scrolling_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Hidden Sidebar", backend_layouts_sidebar_hidden_path(:layout => 'sidebar_hidden'), class: active_link?(backend_layouts_sidebar_hidden_path) %>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                <li>
                                  <%= link_to '<i class="si si-puzzle"></i><span class="sidebar-mini-hide">Multi Level Menu</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("multi_level_menu") %>
                                    <ul>
                                        <li>
                                            <a href="#">Link 1-1</a>
                                        </li>
                                        <li>
                                            <a href="#">Link 1-2</a>
                                        </li>
                                        <li>
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Sub Level 2</a>
                                            <ul>
                                                <li>
                                                    <a href="#">Link 2-1</a>
                                                </li>
                                                <li>
                                                    <a href="#">Link 2-2</a>
                                                </li>
                                                <li>
                                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#">Sub Level 3</a>
                                                    <ul>
                                                        <li>
                                                            <a href="#">Link 3-1</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">Link 3-2</a>
                                                        </li>
                                                        <li>
                                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Sub Level 4</a>
                                                            <ul>
                                                                <li>
                                                                    <a href="#">Link 4-1</a>
                                                                </li>
                                                                <li>
                                                                    <a href="#">Link 4-2</a>
                                                                </li>
                                                                <li>
                                                                    <a class="nav-submenu" data-toggle="nav-submenu" href="#">Sub Level 5</a>
                                                                    <ul>
                                                                        <li>
                                                                            <a href="#">Link 5-1</a>
                                                                        </li>
                                                                        <li>
                                                                            <a href="#">Link 5-2</a>
                                                                        </li>
                                                                        <li>
                                                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Sub Level 6</a>
                                                                            <ul>
                                                                                <li>
                                                                                    <a href="#">Link 6-1</a>
                                                                                </li>
                                                                                <li>
                                                                                    <a href="#">Link 6-2</a>
                                                                                </li>
                                                                            </ul>
                                                                        </li>
                                                                    </ul>
                                                                </li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Pages</span></li>
                                <li class="<%= link_open?("pages") %>">
                                  <%= link_to '<i class="si si-layers"></i><span class="sidebar-mini-hide">Generic</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("generic") %>
                                    <ul>
                                        <li>
                                            <%= link_to "Blank", :backend_pages_blank, class: active_link?(backend_pages_blank_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "User Profile", :backend_pages_profile, class: active_link?(backend_pages_profile_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Search Results", :backend_pages_search, class: active_link?(backend_pages_search_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Invoice", :backend_pages_invoice, class: active_link?(backend_pages_invoice_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "FAQ", :backend_pages_faq, class: active_link?(backend_pages_faq_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Inbox", :backend_pages_inbox, class: active_link?(backend_pages_inbox_path) %>
                                        </li>
                                        <li class="<%= link_open?("forum") %>">
                                            <a class="nav-submenu" data-toggle="nav-submenu" href="#">Forum</a>
                                            <ul>
                                                <li>
                                                    <%= link_to "Categories", :backend_pages_forum_categories, class: active_link?(backend_pages_forum_categories_path) %>
                                                </li>
                                                <li>
                                                    <%= link_to "Topics", :backend_pages_forum_topics, class: active_link?(backend_pages_forum_topics_path) %>
                                                </li>
                                                <li>
                                                    <%= link_to "Discussion", :backend_pages_forum_discussion, class: active_link?(backend_pages_forum_discussion_path) %>
                                                </li>
                                                <li>
                                                    <%= link_to "New Topic", :backend_pages_forum_new_topic, class: active_link?(backend_pages_forum_new_topic_path) %>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <%= link_to "Log In", :backend_pages_login, class: active_link?(backend_pages_login_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Log In v2", :backend_pages_login_v2, class: active_link?(backend_pages_login_v2_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Register", :backend_pages_register, class: active_link?(backend_pages_register_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Register v2", :backend_pages_register_v2, class: active_link?(backend_pages_register_v2_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Lock Screen", :backend_pages_lock, class: active_link?(backend_pages_lock_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Lock Screen v2", :backend_pages_lock_v2, class: active_link?(backend_pages_lock_v2_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Password Reminder", :backend_pages_reminder, class: active_link?(backend_pages_reminder_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Password Reminder v2", :backend_pages_reminder_v2, class: active_link?(backend_pages_reminder_v2_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Coming Soon", :backend_pages_coming_soon, class: active_link?(backend_pages_coming_soon_path) %>
                                        </li>
                                        <li>
                                            <%= link_to "Maintenance", :backend_pages_maintenance, class: active_link?(backend_pages_maintenance_path) %>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                <li class="<%= link_open?("errors") %>">
                                  <%= link_to '<i class="si si-fire"></i><span class="sidebar-mini-hide">Error Pages</span>'.html_safe, '#', 'data-toggle': 'nav-submenu', class: active_submenu?("errors") %>
                                    <ul>
                                        <li>
                                            <a href="/400.html">400</a>
                                        </li>
                                        <li>
                                            <a href="/401.html">401</a>
                                        </li>
                                        <li>
                                            <a href="/403.html">403</a>
                                        </li>
                                        <li>
                                            <a href="/404.html">404</a>
                                        </li>
                                        <li>
                                            <a href="/500.html">500</a>
                                        </li>
                                        <li>
                                            <a href="/503.html">503</a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="nav-main-heading"><span class="sidebar-mini-hide">Apps</span></li>
                                <li>
                                    <%= link_to '<i class="si si-rocket"></i><span class="sidebar-mini-hide">Frontend</span>'.html_safe, :frontend_index %>
                                </li>
                            </ul>
                        </div>
                        <!-- END Side Content -->
                    </div>
                    <!-- Sidebar Content -->
                </div>
                <!-- END Sidebar Scroll Container -->
            </nav>