<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @message.email %>
</p>

<p>
  <strong>Display name:</strong>
  <%= @message.display_name %>
</p>

<p>
  <strong>Body:</strong>
  <%= @message.body %>
</p>

<p>
  <strong>Attachments:</strong>
  <%= @message.attachments %>
</p>

<p>
  <strong>Has many:</strong>
  <%= @message.has_many %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
