        <!-- Compose Modal -->
        <div class="modal fade" id="modal-compose" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-dialog-top">
                <div class="modal-content">
                    <div class="block block-themed block-transparent remove-margin-b">
                        <div class="block-header bg-success">
                            <ul class="block-options">
                                <li>
                                    <button data-dismiss="modal" type="button"><i class="si si-close"></i></button>
                                </li>
                            </ul>
                            <h3 class="block-title"><i class="fa fa-pencil"></i> New Message</h3>
                        </div>
                        <div class="block-content">
                          <%= form_for(@message, html: { class: "form-horizontal push-10-t push-10" }) do |f| %>
                            <% if @message.errors.any? %>
                              <div id="error_explanation">
                                <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

                                <ul>
                                <% @message.errors.full_messages.each do |message| %>
                                  <li><%= message %></li>
                                <% end %>
                                </ul>
                              </div>
                            <% end %>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <div class="form-material form-material-success floating input-group">
                                            <%= f.label :email %><br>
                                            <%= f.text_field :email, class: "form-control" %>
                                            <span class="input-group-addon"><i class="si si-envelope-open"></i></span>
                                        </div>
                                    </div>
                                </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-success floating input-group">
                                            <%= f.label :subject %><br>
                                            <%= f.text_field :subject, class: "form-control" %>
                                        <span class="input-group-addon"><i class="si si-book-open"></i></span>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <div class="form-material form-material-success floating">
                                        <%= f.label :body %><br>
                                        <%= f.text_area :body, class: "form-control", rows: 6 %>
                                    </div>
                                    <div class="help-block text-right">Feel free to use common tags: &lt;blockquote&gt;, &lt;strong&gt;, &lt;em&gt;</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-xs-12">
                                    <%= f.submit class: "btn btn-sm btn-success" do %>
                                      <i class="fa fa-send push-5-r"></i> Send Message
                                    <% end %>
                                </div>
                            </div>
                          <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Compose Modal -->