            <footer id="page-footer" class="bg-white">
                <div class="content content-boxed">
                    <!-- Footer Navigation -->
                    <div class="row push-30-t items-push-2x">
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Company</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <%= link_to "Home", :frontend_index, class: "font-w600" %>
                                </li>
                                <li>
                                    <%= link_to "Features", :frontend_features, class: "font-w600" %>
                                </li>
                                <li>
                                    <%= link_to "Pricing", :frontend_pricing, class: "font-w600" %>
                                </li>
                                <li>
                                    <%= link_to "About Us", :frontend_about, class: "font-w600" %>
                                </li>
                                <li>
                                    <%= link_to "Contact Us", :frontend_contact, class: "font-w600" %>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Support</h3>
                            <ul class="list list-simple-mini font-s13">
                                <li>
                                    <%= link_to "Log In", :frontend_log_in, class: "font-w600" %>
                                </li>
                                <li>
                                    <%= link_to "Sign Up", :frontend_sign_up, class: "font-w600" %>
                                </li>
                                <li>
                                    <%= link_to "Support Center", :frontend_support, class: "font-w600" %>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Privacy Policy</a>
                                </li>
                                <li>
                                    <a class="font-w600" href="javascript:void(0)">Terms &amp; Conditions</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4">
                            <h3 class="h5 font-w600 text-uppercase push-20">Get In Touch</h3>
                            <div class="font-s13 push">
                                <strong><%= t('company_name').html_safe %></strong><br>
                                <%= t('company_address').html_safe %>
                                <%= t('company_phone').html_safe %>
                            </div>
                            <div class="font-s13">
                                <i class="si si-envelope-open"></i> <a href="mailto:<%= ENV['SMTP_USERNAME'] %>"><%= ENV['SMTP_USERNAME'] %></a>
                            </div>
                        </div>
                    </div>
                    <!-- END Footer Navigation -->

                    <!-- Copyright Info -->
                    <div class="font-s12 push-20 clearfix">
                        <hr class="remove-margin-t">
                        <div class="pull-right">
                            <%= t('tag_line').html_safe %>
                        </div>
                        <div class="pull-left">
                            <%= t('copyright').html_safe %>
                        </div>
                    </div>
                    <!-- END Copyright Info -->
                </div>
            </footer>