            <header id="header-navbar" class="content-mini content-mini-full">
                <div class="content-boxed">
                    <!-- Header Navigation Right -->
                    <ul class="nav-header pull-right">
                        <li>
                            <!-- Themes functionality initialized in App() -> uiHandleTheme() -->
                            <%= render 'layouts/frontend/themes' %>
                        </li>
                        <li class="hidden-md hidden-lg">
                            <!-- Toggle class helper (for main header navigation below in small screens), functionality initialized in App() -> uiToggleClass() -->
                            <button class="btn btn-link text-white pull-right" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                                <i class="fa fa-navicon"></i>
                            </button>
                        </li>
                    </ul>
                    <!-- END Header Navigation Right -->

                    <!-- Main Header Navigation -->
                    <ul class="js-nav-main-header nav-main-header pull-right">
                        <li class="text-right hidden-md hidden-lg">
                            <!-- Toggle class helper (for main header navigation in small screens), functionality initialized in App() -> uiToggleClass() -->
                            <button class="btn btn-link text-white" data-toggle="class-toggle" data-target=".js-nav-main-header" data-class="nav-main-header-o" type="button">
                                <i class="fa fa-times"></i>
                            </button>
                        </li>
                        <li>
                            <%= link_to 'Home'.html_safe, :frontend_index, class: active_link?(frontend_index_path) %>
                        </li>
                        <li>
                            <%= link_to 'Pages'.html_safe, 'javascript:void(0)', class: active_submenu?("pages") %>
                            <%= render "layouts/frontend/sub_pages" %>
                        </li>
                        <li>
                            <%= link_to 'Features'.html_safe, :frontend_features, class: active_link?(frontend_features_path) %>
                        </li>
                        <li>
                            <%= link_to 'Pricing'.html_safe, :frontend_pricing, class: active_link?(frontend_pricing_path) %>
                        </li>
                        <li>
                            <%= link_to 'Contact'.html_safe, :frontend_contact, class: active_link?(frontend_contact_path) %>
                        </li>
                    </ul>
                    <!-- END Main Header Navigation -->

                    <!-- Header Navigation Left -->
                    <ul class="nav-header pull-left">
                        <li class="header-content">
                          <%= link_to t('logo').html_safe, :root, class: 'h5 text-white' %>
                        </li>
                    </ul>
                    <!-- END Header Navigation Left -->
                </div>
            </header>

